<div class="col-sm-2">
  <table class="table table-bordered">
    <tr><th>ジャンル一覧</th></tr>
    <tr><td>ケーキ</td></tr>
    <tr><td>焼き菓子</td></tr>
    <tr><td>プリン</td></td></tr>
    <tr><td>キャンディ</td></tr>
</table>
