/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.homes, .items {
  color: #2B1B17;
  font-family: 'Noto Serif JP', serif;
}

.deco {
  font-family: 'Kaisei Tokumin', cursive, sans-serif;
}

header {
  font-family: 'Kaisei Tokumin', cursive, sans-serif;
}

.item-all-link {
  color: #2B1B17;
}

.item-all-link:hover {
	color: #FFD700;
	text-decoration: none;
}

.header-link {
  color: #2B1B17;
}

.header-link:hover {
	color: #FFD700;
	text-decoration: none;
}

#top {
  background-image: url('main.jpg');
  height: 300px;
  background-size:cover;
}

.top-text {
  text-shadow: 2px 2px 5px #FFFFFF;
  font-weight: bold;
}

.fa-hand-point-right {
  color: #FFD700;
}

.buy-btn {
  background: #FFA500;
  color: #FFFFFF;
}

.buy-btn:hover {
  background: #FFD700;
  color: #2B1B17;
}